* {
        box-sizing: border-box;
}


html, a {
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        scroll-behavior: smooth;
}

.content {
        max-width: 1024px;
        margin: auto;
}


/* Хэдер */

.header {
        position: sticky;
        height: 60px;
        top: 0px;
        background-color: #0284C7;
        box-shadow: 0px 4px 15px #d4d4d4;
}

/* Навигация (логотип, ссылки)*/

.header__navigation {
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;            
}

.header__logo {     
        font-weight: 700;
        font-size: 26px;
        color: #fafafa;  
}

/* выравнивание ссылок */


.navigation {
        display: flex;
        gap: 30px;
}

/* Свойства ссылок*/

.header__link {     
        font-weight: 600;
        font-size: 22px;
        color: #fafafa; 
}


.header__link:hover {
        color: #38bdf8;
}

.header__link:visited {
        color: #404040;
}

@media (max-width: 600px) { 
    .header__navigation {
        flex-wrap: wrap;      
}
    .header {
        height: 80px;
}
}



/* Главная картинка с заголовком и кнопкой. Фоновая картинка */

.hero_background {
        background: url(hero.png);
        height: 700px;
        background-size: cover;
        background-position: center top;
        padding-top: 20px;
}


.hero_title {
        font-weight: 700;
        font-size: 60px;
        width: 50%;
        margin-top: 100px;
}


.hero_title__text_black {
        color: #171717;
}

.hero_title__text_blue {
        color: #0284c7;
}

.hero_text {
        padding-top: 30px;
        width: 50%;
        padding-bottom: 50px;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #075985;
}


@media (max-width: 600px) {

.hero_title {
        font-weight: 600;
        font-size: 50px;
}
}



.button_style {
        font-weight: 700;
        font-size: 18px;            
        color: #fafafa;
        border: none;
        border-radius: 10px;
        background-color: #0284C7;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 15px;
        width: 300px;
        cursor: pointer;
        transition: 500ms linear;
}


.button_style:hover {
        color:#075985;
        background-color: #fafafa;
        border: 1px solid #075985;
}



/* Лечение (текст, картинка) */


.therapy_title {
        font-weight: 700;
        font-size: 48px;
        text-align: left;
        color: #0369A1;
        padding-top: 100px;
        padding-bottom: 20px;
}


.therapy__modular_grid {
        display: flex;
        display: row;
        justify-content: space-between;
        gap: 10px;
        /* width: calc(100%-10px/2); */
}

.therapy_text {
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        text-align: justify;
        color: #0B4269;
        padding-top: 15px;
        width: 60%;
}


.therapy_image {
        border-radius: 10px;
        /* object-fit: cover; */
        width: 40%;

}







/* Отзывы. Четыре контейнера с фото */

.reviews_title {
        font-weight: 700;
        font-size: 40px;
        color: #0369A1;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 50px;
}

.reviews__modular_grid {
        display: flex;
        display: row;
        justify-content: space-between;
        gap: 10px;
        width: calc(100%-10px/2);
}

.review {
        border: 1px solid #E5E5E5;
        border-radius: 20px;
        width: 50%;
        display: flex;
        display: row;
        gap: 10px;
        margin-bottom: 50px;
        box-shadow: 0px 5px 15px #d4d4d4;
}

.review__image {
        margin: 10px;
}


.review__name {
        font-weight: 700;
        font-size: 24px;
        color: #0284C7;
}


.review__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #737373;
}

@media (max-width: 600px) { 
    .reviews__modular_grid {
        flex-direction: column;
    }

    .review {
        width: 100%;
}
}








/* Наши услуги: три картинки, стрелки */

.services_title {
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        color: #0369A1;
        padding-top: 80px;
        padding-bottom: 40px;
}

.services_background {
        background-color: #0284C7;
        height: 300px;
}

.services__modular_grid {
        display: flex;
        display: row;
        justify-content: space-between;
        gap: 10px;
        width: calc(100%-10px*4/5);
}

/* .services__icon {
        width: 85px;
        height: 35px;
                
        background: #E0F2FE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
} */

.service_page-1 {
        background: url(service-1.png);
        height: 200px;
        width: 290px;
        background-size: cover;
        background-position: center top;
        border-radius: 10px;
        margin-top: 50px;

}

.service_page-2 {
        background: url(service-2.png);
        height: 200px;
        width: 290px;
        background-size: cover;
        background-position: center top;
        border-radius: 10px;
        margin-top: 50px;

}

.service_page-3 {
        background: url(service-3.png);
        height: 200px;
        width: 290px;
        background-size: cover;
        background-position: center top;
        border-radius: 10px;
        margin-top: 50px;

}





/* Футер (модульные сетки)*/

.footer {
    background-color: #e0f2fe;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.footer__modular_grid {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: calc(100%-15px*2/3);
}

.footer_section-1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #075985;
}

.footer_section-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(50%/2);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #075985;
}

.footer_section-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 70px;
    width: calc(50%/2);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #075985;
}

.footer_icon__position {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__text_weight {
    font-weight: 600;
}

.footer_link__post {
    color: #075985;
    transition: 300ms linear;
}


.footer_link__post:hover {
    color: #171717;
    font-size: 22px;
}


.footer_license {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 17px;
    color: #075985;
}

.footer_license__text {
    padding-right: 5px;
    border-right: 2px solid #075985;
}


@media (max-width: 600px) {      
    .footer__modular_grid {
            display: flex;
            flex-direction: column;
            gap: 30px;
    }
    .footer_section-1 {
            width: 100%;
    }

    .footer_section-2 {
            width: 100%;
    }

    .footer_section-3 {
            width: 100%;
    }
}