* {
        box-sizing: border-box;
        scroll-behavior: smooth;
}


html, a {
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
}

.content {
        max-width: 1024px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
}


/* Хэдер */

.header {
        position: sticky;
        padding-top: 15px;
        padding-bottom: 30px;
        top: 0px;
        background-color: #0284C7;
        box-shadow: 0px 4px 15px #d4d4d4;
}

/* Навигация (логотип, ссылки)*/

.header__navigation {
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;            
}

.header__logo {     
        font-weight: 700;
        font-size: 26px;
        color: #fafafa;  
}


/* иконка для вызова мобильного меню (бургер) */

#header_menu__mobile_burger {
        display: none;
        font-size: 36px;
        color: #fafafa;
}


#header_menu__mobile_close {
        display: none;
        font-size: 36px;
        color: #fafafa;
}

/* выравнивание ссылок */

.navigation {
        display: flex;
        gap: 30px;
}


/* Выпадающее мобильное меню */

.contex_menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding-top: 30px;
}



/* Свойства ссылок*/

.header__link {     
        font-weight: 600;
        font-size: 22px;
        color: #fafafa; 
}


.header__link:hover {
        color: #38bdf8;
}



@media (max-width: 768px) { 
        .navigation {
                display: none;
        }
        #header_menu__mobile_burger {
                display: flex;
        }
}


/* Главная картинка с заголовком и кнопкой. Фоновая картинка */

.hero_background {
        background: url(/image/hero.png);
        padding-top: 100px;
        padding-bottom: 100px;
        background-size: cover;
        background-position: center top;
}


.hero_title {
        font-weight: 700;
        font-size: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}


.hero_title__text_black {
        color: #171717;
        padding-right: 5px;
}


.hero_title__text_blue {
        color: #0284c7;
}

.hero_text {
        padding-top: 30px;
        width: 50%;
        padding-bottom: 50px;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: #075985;
}


@media (max-width: 768px) {
        .hero_title {
                font-weight: 600;
                font-size: 50px;
}
}

@media (max-width: 420px) {
        .hero_title {
                font-weight: 600;
                font-size: 36px;
}
        .hero_text {
                width: 80%;
                padding-bottom: 30px;
}
}

@media (max-width: 390px) {
        .hero_title {
                font-weight: 600;
                font-size: 36px;
}
        .hero_text {
                width: 80%;
                padding-bottom: 30px;
}
}

@media (max-width: 320px) {
        .hero_title {
                font-weight: 500;
                font-size: 30px;
}
        .hero_text {
                width: 80%;
                padding-bottom: 30px;
}
}


.button_style {
        font-weight: 700;
        font-size: 18px;            
        color: #fafafa;
        border: none;
        border-radius: 10px;
        background-color: #0284C7;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 15px;
        width: 300px;
        cursor: pointer;
        transition: 500ms linear;
}


.button_style:hover {
        color:#075985;
        background-color: #bae6fd;
}


/* Лечение (текст, картинка) */


.therapy_title {
        font-weight: 700;
        font-size: 48px;
        text-align: left;
        color: #0369A1;
        padding-top: 100px;
        padding-bottom: 30px;
}


.therapy__modular_grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
}


.therapy_text {
        font-weight: 400;
        font-size: 22px;
        line-height: 125%;
        text-align: justify;
        color: #0B4269;
}


.therapy_image {        
        border-radius: 10px;
}


@media (max-width: 768px) {
        .therapy__modular_grid {
                flex-direction: column;
        }
        .therapy_title {
                text-align: center;

        }
        .therapy_text {
                text-align: center;
        }
        .therapy_image {        
                width: 100%;
        }
}


/* Цены (4 блока с цветным текстом) */

.price_title {
        font-weight: 700;
        font-size: 40px;      
        color: #0369A1;
        padding-top: 100px;
        padding-bottom: 40px;
        text-align: center;
}


.price__blue {
        width: 100%;
        padding: 20px;
        border: none;
        background-color: #d4eaf8;
        border-radius: 20px;
        margin-top: 10px;
}


.price__deep_blue {
        width: 100%;
        padding: 20px;
        border: none;
        background-color: #f0f9ff;
        border-radius: 20px;
        margin-top: 10px;
}

.price__text_dark {
        font-size: 20px;
        font-weight: 700;
        color: #0c4a6e;
}

.price__text_green {
        font-size: 20px;
        font-weight: 700;
        color: #26992A;
        padding-left: 3px;
        padding-right: 3px;
}


@media (max-width: 768px) {
        .price__text_dark {
                font-size: 14px;
                font-weight: 600;
        }
        .price__text_green {
                font-size: 14px;
                font-weight: 600;
        }
}

@media (max-width: 420px) {
        .price__text_dark {
                font-size: 12px;
                font-weight: 500;
        }
        .price__text_green {
                font-size: 12px;
                font-weight: 500;
                padding-left: 2px;
                padding-right: 2px;
        }
}

@media (max-width: 390px) {
        .price__text_dark {
                font-size: 11px;
                font-weight: 500;
        }
        .price__text_green {
                font-size: 11px;
                font-weight: 500;
                padding-left: 2px;
                padding-right: 2px;
        }
}

@media (max-width: 320px) {
        .price__text_dark {
                font-size: 11px;
                font-weight: 500;
        }
        .price__text_green {
                font-size: 11px;
                font-weight: 500;
                padding-left: 2px;
                padding-right: 2px;
        }
}


/* Наши услуги: три картинки со стрелками */


.services_title {
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        color: #0369A1;
        padding-top: 80px;
        padding-bottom: 40px;
}

.services_background {
        background-color: #0284C7;
        padding-top: 50px;
        padding-bottom: 40px;
        box-shadow: 0px 4px 15px #a3a3a3;
}

.services__modular_grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        width: calc(100%-30px*2/3);
}


.service_page-1 {
        background: url(/image/service-1.png);
        height: 200px;
        width: 290px;
        background-size: cover;
        background-position: center top;
        position: relative;
        border-radius: 10px;
}


.service_page-2 {
        background: url(/image/service-2.png);
        height: 200px;
        width: 290px;
        background-size: cover;
        background-position: center top;
        position: relative;
        border-radius: 10px;
}


.service_page-3 {
        background: url(/image/service-3.png);
        height: 200px;
        width: 290px;
        background-size: cover;
        background-position: center top;
        position: relative;
        border-radius: 10px;
}


/* прозрачность фона, градиент */

.service_page__opacity {
        position: absolute;
        height: 200px;
        width: 290px;
        border-radius: 10px;
        background: linear-gradient(to right, #fafafa 0%, #4598C7 14%, transparent 45%);
} 


.service_page__number {
        position: absolute;
        padding-top: 20px;
        padding-left: 20px;
        font-family: 'Playfair Display';
        font-style: oblique;
        font-size: 24px;
        color: #fafafa;
        font-weight: 500;
}

.service_page__container_text {
        padding-top: 150px;
        padding-left: 20px;
        padding-right: 20px;
        color: #525252;
        font-size: 20px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
}

.service_page__icone {
        color: #525252;
        font-size: 40px;
}



@media (max-width: 768px) {       
        .services__modular_grid {
                flex-direction: column;
        }
        .service_page-1 {
                width: 100%;
        }
        .service_page-2 {
                width: 100%;
        }
        .service_page-3 {
                width: 100%;
        }
        .service_page__opacity {
                width: 100%;
        }
}

@media (max-width: 420px) {       
        .services__modular_grid {
                flex-direction: column;
        }
        .service_page-1 {
                width: 100%;
        }
        .service_page-2 {
                width: 100%;
        }
        .service_page-3 {
                width: 100%;
        }
        .service_page__opacity {
                width: 100%;
        }
}

@media (max-width: 390px) {        
        .services__modular_grid {
                flex-direction: column;
        }
        .service_page-1 {
                width: 100%;
        }
        .service_page-2 {
                width: 100%;
        }
        .service_page-3 {
                width: 100%;
        }
        .service_page__opacity {
                width: 100%;
        }
}

@media (max-width: 320px) {        
        .services__modular_grid {
                flex-direction: column;
        }
        .service_page-1 {
                width: 100%;
        }
        .service_page-2 {
                width: 100%;
        }
        .service_page-3 {
                width: 100%;
        }
        .service_page__opacity {
                width: 100%;
        }
}


/* Футер (модульные сетки)*/

.footer {
    background-color: #e0f2fe;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.footer__modular_grid {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: calc(100%-15px*2/3);
}

.footer_section-1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #075985;
}

.footer_section-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(50%/2);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #075985;
}

.footer_section-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 70px;
    width: calc(50%/2);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #075985;
}

.footer_icon__position {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__text_weight {
    font-weight: 600;
}

.footer_link__post {
    color: #075985;
    transition: 300ms linear;
}


.footer_link__post:hover {
    color: #171717;
    font-size: 22px;
}


.footer_license {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 17px;
    color: #075985;
}

.footer_license__text {
    padding-right: 5px;
    border-right: 2px solid #075985;
}



/* Кнопка ВВЕРХ */

.scroll_up {
        font-size: 50px;
        color: #0c4a6e;
        position: fixed;
        right: 30px;
        bottom: 30px;
   
}


@media (max-width: 768px) {      
        .footer__modular_grid {
                flex-direction: column;
                gap: 30px;
        }
        .footer_section-1 {
                width: 100%;
                font-size: 14px;
        }
        .footer_section-2 {
                width: 100%;
        }
        .footer_section-3 {
                width: 100%;
                gap: 20px;
        }
        .scroll_up {
                font-size: 40px; 
        }
}

@media (max-width: 420px) { 
        .footer_section-1 {
                font-size: 16px;
                
        }
        .footer_license {
                font-size: 14px;
        }
        .scroll_up {
                font-size: 40px; 
        }
}

@media (max-width: 390px) { 
        .footer_section-1 {
                font-size: 16px;
                
        }
        .footer_license {
                font-size: 14px;
        }
        .scroll_up {
                font-size: 40px; 
        }
}

@media (max-width: 320px) { 
        .footer_section-1 {
                font-size: 16px;
                
        }
        .footer_license {
                font-size: 14px;
        }
        .scroll_up {
                font-size: 40px; 
        }
}