* {
        box-sizing: border-box;
}


html, a {
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        scroll-behavior: smooth;
}

.content {
        max-width: 1024px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
}


/* Хэдер */

.header {
        position: sticky;
        height: 60px;
        top: 0px;
        background-color: #0284C7;
        box-shadow: 0px 4px 15px #d4d4d4;
}

/* Навигация (логотип, ссылки)*/

.header__navigation {
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;            
}

.header__logo {     
        font-weight: 700;
        font-size: 26px;
        color: #fafafa;  
}

/* выравнивание ссылок */


.navigation {
        display: flex;
        gap: 30px;
}

/* Свойства ссылок*/

.header__link {     
        font-weight: 600;
        font-size: 22px;
        color: #fafafa; 
        
}


.header__link:hover {
        color: #38bdf8;
}

.header__link:visited {
        color: #404040;
}


@media (max-width: 600px) { 
        .header {
                height: 80px;
        }
        .header__navigation {
                flex-wrap: wrap;     
        }
        .navigation {
               padding-top: 10px;
        }
}

@media (max-width: 400px) {
        .header {
                height: 80px;
            }
        .header__navigation {
                flex-wrap: wrap;      
        }
        
        .header__link {     
                font-weight: 500;
                font-size: 13px;
        }
}


/* Главная картинка с заголовком и кнопкой. Фоновая картинка */

.hero_background {
        background: url(hero.png);
        height: 700px;
        background-size: cover;
        background-position: center top;
        padding-top: 20px;
}


.hero_title {
        font-weight: 700;
        font-size: 60px;
        width: 100%;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}


.hero_title__text_black {
        color: #171717;
        padding-right: 5px;
}


.hero_title__text_blue {
        color: #0284c7;
}

.hero_text {
        padding-top: 30px;
        width: 50%;
        padding-bottom: 50px;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: #075985;
}


@media (max-width: 600px) {
        .hero_title {
                font-weight: 600;
                font-size: 50px;
}
}

@media (max-width: 400px) {
        .hero_title {
                font-weight: 600;
                font-size: 36px;
}
        .hero_text {
                width: 80%;
                padding-bottom: 30px;
}
}


.button_style {
        font-weight: 700;
        font-size: 18px;            
        color: #fafafa;
        border: none;
        border-radius: 10px;
        background-color: #0284C7;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 15px;
        width: 300px;
        cursor: pointer;
        transition: 500ms linear;
}


.button_style:hover {
        color:#075985;
        background-color: #fafafa;
        border: 1px solid #075985;
}



/* Наши услуги: три картинки со стрелками */


.services_title {
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        color: #0369A1;
        padding-top: 80px;
        padding-bottom: 40px;
}

.services_background {
        background-color: #0284C7;
        height: 300px;
        box-shadow: 0px 4px 15px #a3a3a3;
}

.services__modular_grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        width: calc(100%-10px*2/3);
}


.service_page-1 {
        background: url(service-1.png);
        height: 200px;
        width: 290px;
        background-size: cover;
        background-position: center top;
        border-radius: 10px;
        margin-top: 50px;
}

.service_page-2 {
        background: url(service-2.png);
        height: 200px;
        width: 290px;
        background-size: cover;
        background-position: center top;
        border-radius: 10px;
        margin-top: 50px;
}

.service_page-3 {
        background: url(service-3.png);
        height: 200px;
        width: 290px;
        background-size: cover;
        background-position: center top;
        border-radius: 10px;
        margin-top: 50px;
}

@media (max-width: 600px) {
        .services_background {
                height: 900px;
        }        
        .services__modular_grid {
                flex-direction: column;
        }
        .service_page-1 {
                width: 100%;
        }
        .service_page-2 {
                width: 100%;
        }
        .service_page-3 {
                width: 100%;
        }
}

@media (max-width: 400px) {
        .services_background {
                height: 900px;
        }        
        .services__modular_grid {
                flex-direction: column;
        }
        .service_page-1 {
                width: 100%;
        }
        .service_page-2 {
                width: 100%;
        }
        .service_page-3 {
                width: 100%;
        }
}

.service_page__number {
        position: absolute;
        padding-top: 20px;
        padding-left: 20px;
        font-family: 'Playfair Display';
        font-style: oblique;
        font-size: 24px;
        color: #525252;
        font-weight: 500;
}

.service_page__container_text {
        padding-top: 150px;
        padding-left: 20px;
        padding-right: 20px;
        color: #262626;
        font-size: 20px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
}

.service_page__icone {
        color: #262626;
        font-size: 40px;
}



/* О клинике (описание) */

.about_us__background {
        background: url(background-1.png);
        height: 700px;
        background-size: cover;
        background-position: center top;
}

.about_us__title {
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        color: #0C4A6E;
        padding-top: 60px;
        padding-bottom: 20px;
}


.about_us__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: justify;
        color: #171717;
        padding-top: 20px;
        padding-bottom: 20px;
}


.about_us__button_position {
        text-align: right;
}

@media (max-width: 600px) {
        .about_us__background {
                height: 800px;
}
        .about_us__text {
                text-align: center;
}
}


@media (max-width: 400px) {
        .about_us__background {
                height: 1000px;
}
        .about_us__text {
                text-align: center;
}
}



/* Отзывы. Четыре контейнера с фото */

.reviews_title {
        font-weight: 700;
        font-size: 40px;
        color: #0369A1;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 50px;
}

.reviews__modular_grid {
        display: flex;
        display: row;
        justify-content: space-between;
        gap: 10px;
        width: calc(100%-10px/2);
}

.review {
        border: 1px solid #E5E5E5;
        border-radius: 20px;
        width: 50%;
        display: flex;
        display: row;
        gap: 10px;
        margin-bottom: 50px;
        box-shadow: 0px 5px 15px #d4d4d4;
}

.review__image {
        margin: 10px;
}


.review__name {
        font-weight: 700;
        font-size: 24px;
        color: #0284C7;
}


.review__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #737373;
}

@media (max-width: 600px) { 
        .reviews__modular_grid {
                flex-direction: column;
        }

        .review {
                width: 100%;
}
}


/* Отделения. Карта на фоне. 3 блока */


.offices_background {
        background: url(map-background.png);
        height: 400px;
        background-size: cover;
        background-position: center top;
        position: relative;
}

/* прозрачность фона */

.offices_background__opacity {
        position: absolute;
        height: 400px;
        width: 100%;
        background-color: rgb(250, 250, 250, 0.5);
} 


.offices__title {
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        color: #0369A1;
        padding-top: 50px;
        padding-bottom: 40px;

}

.offices__modular_grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        width: calc(100%-10px*2/3);
}


/* Контиейнер с инф-ей */

.offices__branch {
        border: 1px solid #0c4a6e;
        border-radius: 20px;
        background-color: #fafafa;
        width: (100%/3);
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        color: #075985;
        font-size: 19px;
        font-weight:500;
}

.offices_icon__position {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
}

.offices_image {
        height: 30px;
        width: 30px;
}


.offices__branch_text_width {
        font-weight: 700;
}

.offices__working_hours {
        padding-left: 30px;
}

.offices_phone {
        padding-left: 30px;
        font-weight: 700;
}


@media (max-width: 600px) {
        .offices_background {
                height: 800px;
        }        
        .offices_background__opacity {
                height: 800px;
        } 
        .offices__modular_grid {
                flex-direction: column;
                width: 100%;
        }
}


@media (max-width: 400px) {
        .offices_background {
                height: 900px;
        }        
        .offices_background__opacity {
                height: 900px;
        } 
        .offices__modular_grid {
                flex-direction: column;
                width: 100%;
        }
}




/* Футер (модульные сетки)*/

.footer {
    background-color: #e0f2fe;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.footer__modular_grid {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: calc(100%-15px*2/3);
}

.footer_section-1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #075985;
}

.footer_section-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(50%/2);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #075985;
}

.footer_section-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 70px;
    width: calc(50%/2);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #075985;
}

.footer_icon__position {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__text_weight {
    font-weight: 600;
}

.footer_link__post {
    color: #075985;
    transition: 300ms linear;
}


.footer_link__post:hover {
    color: #171717;
    font-size: 22px;
}


.footer_license {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 17px;
    color: #075985;
}

.footer_license__text {
    padding-right: 5px;
    border-right: 2px solid #075985;
}


/* Кнопка ВВЕРХ */

.scroll_up {
     font-size: 50px;
     color: #0c4a6e;
     position: fixed;
     right: 30px;
     bottom: 30px;
}

@media (max-width: 600px) {      
        .footer__modular_grid {
                flex-direction: column;
                gap: 30px;
        }
        .footer_section-1 {
                width: 100%;
                font-size: 14px;
        }
        .footer_section-2 {
                width: 100%;
        }
        .footer_section-3 {
                width: 100%;
                gap: 20px;
        }
}

@media (max-width: 400px) {
        .footer_section-1 {
                font-size: 16px;
                
        }
        .footer_license {
                font-size: 14px;
        }
}

