* {
        box-sizing: border-box;
}


html, a {
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        scroll-behavior: smooth;
}

.content {
        max-width: 1024px;
        margin: auto;
}


/* Хэдер */

.header {
        position: sticky;
        height: 60px;
        top: 0px;
        background-color: #0284C7;
        box-shadow: 0px 4px 15px #d4d4d4;
}

/* Навигация (логотип, ссылки)*/

.header__navigation {
        padding-top: 15px;
        display: flex;
         flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;            
}

.header__logo {     
        font-weight: 700;
        font-size: 26px;
        color: #fafafa;  
}

/* выравнивание ссылок */


.navigation {
        display: flex;
        gap: 30px;
}

/* Свойства ссылок*/

.header__link {     
        font-weight: 600;
        font-size: 22px;
        color: #fafafa; 
}


.header__link:hover {
        color: #38bdf8;
}

.header__link:visited {
        color: #404040;
}

@media (max-width: 600px) { 
    .header__navigation {
        flex-wrap: wrap;      
    }
    .header {
        height: 80px;
    }
}



/* Главная картинка с заголовком и кнопкой. Основной текст о специалистах клиники */

.hero_description {
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
}


.hero_description__title {
        font-weight: 700;
        font-size: 48px;
        color: #0369A1;
        margin-bottom: 50px;
}

.hero_description__content {
        font-weight: 600;
        font-size: 24px;
        color: #737373;
        line-height: 35px;
}



/* Строка поиска (форма) */


.seach {
        width: 980px;
        height: 63px;     
        margin: auto;
        margin-bottom: 100px;
        outline: 1px solid #7dd3fc;
        border-radius: 15px;
        background-color: #bae6fd;
}

.seach_icon {
        border-right: 2px solid #737373;
        padding-right: 15px;
}







/* Модульная сетка (фото врачей, кнопка подробнее) */


.section__modular_grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        width: calc(100%-15px*2/3);
}

@media (max-width: 600px) { 
        .section__modular_grid {
                flex-direction: column;
        }
}


.section_doctor {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
}


/* Информация о докторе, кнопка */

.doctor_image {
        width: 330px;
        height: 250px;
        border-radius: 20px;
}

.doctor_name {
        font-weight: 400;
        font-size: 18px;
        color: #404040;
}

.doctor_specialty {
        font-weight: 700;
        font-size: 18px;            
        color: #404040;
}

.doctor__button_style {
        font-weight: 700;
        font-size: 18px;            
        color: #0284C7;
        background-color: #fafafa;
        border-radius: 10px;
        border: 1px solid #0284C7;
        margin-top: 10px;
        margin-bottom: 50px;
        padding: 15px;
        width: 300px;
        cursor: pointer;
        transition: 500ms linear;
}


.doctor__button_style:hover {
        color: #fafafa;
        background-color: #075985;
}




/* Футер (модульные сетки)*/

.footer {
        background-color: #e0f2fe;
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
}


.footer__modular_grid {
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: calc(100%-15px*2/3);
}

.footer_section-1 {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 50%;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #075985;
}

.footer_section-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: calc(50%/2);
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #075985;
}

.footer_section-3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 70px;
        width: calc(50%/2);
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #075985;
}

.footer_icon__position {
        display: flex;
        flex-direction: row;
        gap: 10px;
}

.footer__text_weight {
        font-weight: 600;
}

.footer_link__post {
        color: #075985;
        transition: 300ms linear;
}


.footer_link__post:hover {
        color: #171717;
        font-size: 22px;
}


.footer_license {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 30px;
        font-weight: 400;
        font-size: 17px;
        color: #075985;
}

.footer_license__text {
        padding-right: 5px;
        border-right: 2px solid #075985;
}


@media (max-width: 600px) {      
        .footer__modular_grid {
                display: flex;
                flex-direction: column;
                gap: 30px;
        }
        .footer_section-1 {
                width: 100%;
        }

        .footer_section-2 {
                width: 100%;
        }

        .footer_section-3 {
                width: 100%;
        }
}